footer {
    padding: 4rem 0;
    background-color: var(--secondary-color);
}

footer h2 {
    font-size: 3rem;
    text-align: center;
}

.grid-container {
    margin: 3.75rem auto;
    width: 90rem;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20rem 20rem;
    gap: 1rem;
    grid-template-areas: 
    "item1 item2 item3 item3"
    "item1 item4 item4 item5";
}

.grid-item {
    background-color: var(--light-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
}

.grid-item img {
    height: 9rem;
    width: 9rem;
}

.grid-item a {
    text-decoration: none;
}

#item1 {
    grid-area: item1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .5rem;
}

#item2 {
    text-align: center;
    grid-area: item2;
    flex-direction: column;
    gap: .5rem;
}

#item3 {
    grid-area: item3;
}



#item4 {
    grid-area: item4;
}

#item5 {
    grid-area: item5;
}

#footline {
    text-align: center;
    margin-bottom: .5rem;
}

@media (max-width: 1300px) {
    .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20rem 20rem 20rem;
    grid-template-areas: 
    "item2 item3 item3"
    "item4 item4 item5"
    "item1 item1 item1";
    }
}

@media (max-width: 1000px) {
    .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "item3 item3"
    "item4 item4"
    "item2 item5"
    "item1 item1";
    }

    
}