#praetors {
    padding: 4.5rem 0;
    background-color: var(--primary-color);
}

#praetors h2 {
    font-size: 3.25rem;
    text-align: center;
}

.flex-container {
    margin-top: 3.25rem;
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 20rem;
    max-width: 90%;
    background-color: var(--secondary-color);
    border-radius: 6.25rem;
    padding: 3.75rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25rem;
}

.card * {
    text-align: center;
}

.card a {
    background-color: var(--main-brand-color);
    width: min-content;
    padding: 1rem 2rem;
    border-radius: 3rem;
    margin: 0 auto;
    text-decoration: none;
    color: var(--text-color);
    border: .25rem solid var(--main-brand-color);
    transition: 420ms ease-in-out;
}

.card a:hover {
    background: transparent;
}

@media (max-width: 768px) {
    #praetors h2 {
        font-size: 9vw;
    }
}